/* Colors:
 *      Name                    Hex
 *      Primary (dark blue)     #23615f
 *      Secondary (orange)      #f7634f
 */

body {
  font-family: Poly, sans-serif;
}

h1 {
  color: white;
}

h2 {
  height: 80px;
  color: #f7634f;
}

h4 {
  color: black;
}

h5 {
  color: #23615f;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

@font-face {
  font-family: 'Poly';
  src: local('Poly'), url(../fonts/Poly-Regular.otf) format('truetype');
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}