.project-paper img {
    max-height: 300px;
    max-width: 300px;
    margin: 10px;
    margin-bottom: 100px;
    border: 2px solid #23615f;
    border-radius: 5%;

    -webkit-transition: all 0.10s;
    transition: all 0.10s;
}

.project-paper img:hover {
    border: 1px solid gray;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -webkit-transition: all 0.10s;
    transition: all 0.10s;
}

.description {
    margin-left: 20px;
    margin-right: 10%;
    margin-bottom: 50px;
}