@font-face {
  font-family: 'Poly';
  src: local('Poly'), url(./fonts/Poly-Regular.otf) format('truetype');
}

body {
  font-family: Poly, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
